* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

p,
a {
    font-family: "Poppins", serif;
}

header,
footer,
figure,
figcaption,
nav,
div,
section,
article,
aside {
    display: flex;
    flex-wrap: wrap;
}